head
	//- <!-- Title, and all OG meta tags *** EDITING REQUIRED *** -->
	title Duck Fried Brown Rice with Black Beans Recipe
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(property="og:url"               	content="http://mspudding.com/blog/duckfriedrice.html")
	meta(property="og:type"              	content="article")
	meta(property="og:title"             	content="Duck Fried Rice with Black Beans Recipe")
	meta(property="og:description"       	content="This duck fried rice is nutty, spicy, and soaked through with the flavor and aroma of Chinese roast duck.")
	meta(property="fb:app_id"				content="1739146419678054")
	
	meta(property="og:image"             	content="http://mspudding.com/images/Banners/friedrice-banner.jpg")
	meta(property="og:image:height" 		content="746")
	meta(property="og:image:width" 			content="1536")
	
	meta(property="og:image"             	content="http://mspudding.com/images/Duckfriedrice/sizzlingduck.jpg")
	meta(property="og:image:height" 		content="1919")
	meta(property="og:image:width" 			content="1536")

	//- <!-- Stylesheeeeets! -->
	link(rel="stylesheet" href="/reset.css")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="/blog-stylesheet.css")
	link(rel="stylesheet" href="/sm-share-stylesheet.css")


	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")

	//- <!-- Google Analytics tracking -->
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-79084411-1', 'auto');
		ga('send', 'pageview');

body

	//- <!-- Navbar -->
	div.navbarLoad
	script.
		$(document).ready(function() {
			$(".navbarLoad").load("/navbar.html");
		});
		
	//- Blog navigation column loader
	div.blog-columnLoad
	script.
		$(document).ready(function() {
			$(".blog-columnLoad").load("/blog-column.html");
		});

	//- <!-- Social Media floating share button sidebar *** EDITING REQUIRED ***-->
	div.sm-sidebarLoad
	script.
		$(document).ready(function() {
			$(".sm-sidebarLoad").load("/sm-share-sidebar.html", function(){;
				mp_sm_sidebar_init(
					// Swap in blog link, Default title, and summary here
					"http://mspudding.com/blog/taroko.html",
					"Taroko Gorge Travel Guide",
					"Important things to know if you're planning to visit this tourist destination"
				)
			});
		});

	//- <!-- BLOG CONTENT GOES HERE -->
	
	//- RECIPE CARD
	article(itemscope itemtype="http://schema.org/Recipe")
		span(itemprop="author" style="display: none;") Christine Brynn
		img.blog-body(itemprop="image" src="/images/Duckfriedrice/masonjarfriedrice.jpg" alt="duck fried rice packed in mason jars")
		div(id="Recipe" class="recipe-anchor")
		div.recipe-card
			div.recipe-title
				h1(itemprop="name") Duck Fried Brown Rice with Black Beans
				h2(itemprop="recipeYield") Serves 9. 2-cup servings. USE ONE THIRD THE RECIPE PER 14" FRYING PAN!
			div.recipe-ingredients
				ul
					h2 Rice:
					
					li(itemprop="ingredients") 1 16oz bag of Trader Joe’s Brown rice medley
					li(itemprop="ingredients") 2 15oz cans of black beans, drained
					
					h2 Mix-ins:
					
					li(itemprop="ingredients") Dash of avocado oil
					li(itemprop="ingredients") 1 whole roast duck
					li(itemprop="ingredients") 12 cloves of garlic, sliced
					li(itemprop="ingredients") 1 large onion, thinly sliced
					li(itemprop="ingredients") 8oz frozen peas
					li(itemprop="ingredients") 8oz frozen corn
					li(itemprop="ingredients") 12 eggs! (yeaaaah~)
					li(itemprop="ingredients") Half a bunch of green onions, thinly sliced
					li(itemprop="ingredients") Half a bunch of cilantro, stems trimmed and chopped

					h2 Flavoring:

					li(itemprop="ingredients") 3 heaping tablespoons of oyster sauce
					li(itemprop="ingredients") 3 heaping tablespoons of laoganma spicy chili oil blend
					li(itemprop="ingredients") Toasted sesame oil
					li(itemprop="ingredients") Ground white pepper
			div.recipe-directions
				ol(itemprop="recipeInstructions")
					li Cook the Trader joe’s brown rice medley according to the instructions on the back, but add the black beans to the mixture at the start. The butter mentioned on the bag is optional. I didn’t notice a difference either way.

					li In a large frying pan or wok, fry the sliced garlic and onions up with a drizzle of avocado oil over medium-high heat. As soon 	as these begin to brown, add the chopped duck meat, fat, and skin.

					li Once the duck is getting toasty, add a heaping spoonful of both the spicy chili oil blend, and the oyster sauce. Immediately mix in the rice and beans mixture, the frozen corn, and peas.

					li Once the sauce, rice, and meat are evenly distributed, flatten the fried rice against the pan and let sit for a minute. Use a spatula and flip each section of rice once it’s browned and crispy on the bottom. Mix and flatten again. Repeat. Patience here is key!

					li Add the eggs sometime in the last 5 minutes of cooking. Crack them over the top of the rice and mix in, then repeat the rice flattening and flipping.

					li Toss the fried rice with white pepper, toasted sesame oil, and garnish with tons of green onions + cilantro. The cilantro leaves should wilt a little and mix in nicely, even if they look like a lot at first. Season to your preference!
	//- <!-- Social media follow buttons -->
	div.smButtonsLoad
	script.
		$(document).ready(function() {
			$(".smButtonsLoad").load("/sm-buttons.html");
		});