extends ./layouts/blog-layout.pug

block content
  img(src="/resources/images/aboutme.jpg")
  section.blog-body
    h2 Hi, I'm Christine. I'm a former classically trained dancer that was bred to have exceptionally small hands and feet.
    p.
      I spent a good portion of my upbringing indoors, playing video games of all sorts, while training to be a broadway performer (piano, singing, acting, tap dance, gymnastics, and the like). I came to be known as MsPudding from working in the videogame industry and making silly smurf account names. Somehow this one stuck.
    p.
      <strong>My greatest passions right now are in the realm of self improvement.</strong> These pursuits have led me to studying Mandarin, programming, and challenging myself to write every day. In tandem, I’ve become an avid home cook, and fitness/longevity are something I strive for both with activity and research.
    p.
      I go on a lot of unusual adventures these days, and more and more I’ve realized they’re <em>not</em> something only the rich or privileged have within reach.
    p.centerQuote.
      Follow me for a glimpse into the life of someone who started as a shy, socially inept weakling who was completely immersed in video games, and is now riding motorcycles, climbing rocks, and hiking up mountains. 
    p.
      The person I’ll be tomorrow is better than I am today, and I invite you to go with me on this journey :) 
    hr
  main.blog-body
    h2 Privacy Policy:
    p.imageCaption.
      This blog does not share personal information with third parties nor do I store any information about your visit to this blog other than to analyze and optimize your content and reading experience through the use of cookies.
      <br><br>
      You can turn off the use of cookies at anytime by changing your specific browser settings.
      <br><br>
      I am not responsible for republished content from this blog on other blogs or websites without my permission.
      <br><br>
      This privacy policy is subject to change without notice and was last updated on July 27, 2016. If you have any questions feel free to contact me directly here: christinebrynn1@gmail.com
