head
	link(rel="stylesheet" href="/resources/css/stylesheet.css")


//- <!-- Navbar -->
nav(class="navbar navbar-default navbar-fixed-top")
	div.container-fluid
		div.navbar-header
			button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/index.html") MSPUDDING

		div(class="collapse navbar-collapse" id="myNavbar")
			ul(class="nav navbar-nav navbar-right")
				li
					a(href="/about.html") ABOUT
				li
					a(href="/blog/proteinpancakes.html") BLOG

					//-Dropdown button code if I need it in the future
//- <!-- 				<li class="dropdown">
//- 					<a class="dropdown-toggle" data-toggle="dropdown" href="#">BLOG
//- 						<span class="caret"></span>
//- 					</a>
//- 					<ul class="dropdown-menu">
//- 						<li><a href="yangmingshan.html">Travel</a></li>
//- 						<li><a href="/blog/proteinpancakes.html">Food</a></li>