head
	link(rel="stylesheet" href="/resources/css/stylesheet.css")

div.media-bar(id="followMe" name="about")
	a(name="sm-buttons")
	//- <!--Instagram -->
	a(href="https://instagram.com/mspudding" target="_blank" class="link-circle")
		i(class="fa fa-instagram fa-5x sm-icon")
		img.sm-thumbnail(src="/resources/images/castlerock-sm-thumbnail.jpg" alt="Instagram")
	//- <!--Twitter -->
	a(href="https://twitter.com/mspuddings" target="_blank" class="link-circle")
		i(class="fa fa-twitter fa-5x sm-icon")
		img.sm-thumbnail(src="/resources/images/santamonica-sm-thumbnail.jpg" alt="Twitter")
	//- <!--Facebook -->
	a(href="https://facebook.com/mspuddings" target="_blank" class="link-circle")
		i(class="fa fa-facebook-square fa-5x sm-icon")
		img.sm-thumbnail(src="/resources/images/cheddarfarl-sm-thumbnail.jpg" alt="Facebook")