ul.footer
  li 
    a(href="https://facebook.com/mspuddings")
      i(class="fa fa-facebook fa-2x")
  li
    a(href="https://twitter.com/mspuddings")
      i(class="fa fa-twitter fa-2x")
  li
    a(href="https://instagram.com/mspudding")
      i(class="fa fa-instagram fa-2x")
  li
    a(href="https://www.pinterest.com/christinebrynn")
      i(class="fa fa-pinterest-p fa-2x")
  li.right.rightmost 
    a(href="about.html") PRIVACY
  li.right 
    a(href="about.html") ABOUT
