style.
  @media(max-width: 800px) {
    img {
      background-image: url("/resources/images/mobile/pokemon-mobile-banner.jpg");
      width: 100;
      height: auto;
    }
  }

div.hero-feature
  img
  div
    h1 A Bicycle Day Trip with Pokemon Go
    a(href="/blog/pokemononabike.html") READ ARTICLE