// Classes are currently placeholder with zero styling. Removed bootstrap
nav.navbar
  div
    button
      i(class="fa fa-bars fa-2x")
    a.navbar-brand(href="/index.html") MsPudding

  div
    ul
      li
        a(href="/blog/chapter1htmlcss.html") Blog
      li
        a(href="/about.html") About