nav.navbar
  button#navbar-dropdown-button
    i(class="fa fa-bars fa-2x")
  h1
    a(href="/index.html") ChristineBrynn
  ul#navbar-dropdown-menu.hide
    li
      a(href="/blog/chapter1htmlcss.html") Blog
    li
      a(href="/about.html") About
    li
      a(href="/about.html") Contact