// Classes are currently placeholder with zero styling. Removed bootstrap
nav.navbar
  div.navbar-left
    button.navbar-toggle
      i(class="fa fa-bars")
    a.navbar-brand.navbar-text(href="/index.html") MsPudding

  div.navbar-right.navbar-mobile-toggle
    ul
      li
        a.navbar-text(href="/about.html") About
      li
        a.navbar-text(href="/blog/chapter1htmlcss.html") Blog