//- <!-- Blog preview link boxes -->
div.blog-previews
  a(href="/blog/chapter1htmlcss.html")
    div.blog-preview-box
      img.blog-preview-image(src="/resources/images/banners/htmlcss-banner.jpg")
      p.blog-preview-title A Real Beginner's Guide to HTML and CSS
      p.blog-preview-text Skip the $17,000 bootcamp and join me on a self-taught journey :)
  a(href="/blog/proteinpancakes.html")

    div.blog-preview-box
      img.blog-preview-image(src="/resources/images/banners/pancakes-banner.jpg")
      p.blog-preview-title Massive Super High-Protein Pancakes
      p(class="blog-preview-text") At 40g of protein a serving, I hope you'll be stuffing these in your mouth very soon!

  a(href="/blog/pokemononabike.html")
    div.blog-preview-box
      img.blog-preview-image(src="/resources/images/banners/pokemon-banner.jpg")
      p.blog-preview-title A Bicycle Day Trip with Pokemon Go
      p.blog-preview-text Here's how I planned an awesome bike day trip and a Pokemon adventure.

  a(href="/blog/duckfriedrice.html")
    div.blog-preview-box
      img.blog-preview-image(src="/resources/images/banners/friedrice-banner.jpg")
      p.blog-preview-title Healthified: Duck Fried Rice!
      p.blog-preview-text This duck fried rice is nutty, spicy, and soaked through with the flavor and aroma of Chinese duck.

  a(href="/blog/cardiomynemesis.html")
    div.blog-preview-box
      img.blog-preview-image(src="/resources/images/banners/mountaintrail-banner.jpg")
      p.blog-preview-title I Can't Run a Mile
      p.blog-preview-text Well, I couldn’t until yesterday. It took me 27 years to realize I’ve been running too fast.

  a(href="/blog/mythoughtsonfood.html")
    div.blog-preview-box
      img.blog-preview-image(src="/resources/images/banners/mewithcorn-banner.jpg")
      p.blog-preview-title On Weight Loss: Building Healthy Habits
      p.blog-preview-text My thoughts on food, and how I changed my relationship with it to improve my health.

  a(href="https://medium.com/@MsPudding/feb-30-day-challenge-the-vegan-diet-and-how-it-s-changing-me-fd51ea3c988#.xf8xg38fb")
    div.blog-preview-box
      img.blog-preview-image(src="/resources/images/banners/cheesecake-banner.jpg")
      p.blog-preview-title Vegan 30-day Challenge
      p.blog-preview-text I went vegan for a month. Here's what I learned.

  a(href="/blog/top5taiwanfoods.html")
    div.blog-preview-box
      img.blog-preview-image(src="/resources/images/banners/buns-banner.jpg")
      p.blog-preview-title 5 Spectacular Things to Eat in Taiwan
      p.blog-preview-text Find your generic tourist checklist elsewhere. These are my top 5 daily eats!

  a(href="/blog/taroko.html")
    div.blog-preview-box
      img.blog-preview-image(src="/resources/images/banners/taroko-banner.jpg")
      p.blog-preview-title A Day Trip to Taiwan's Taroko Gorge
      p.blog-preview-text Maybe a bit of a tourist trap. Maybe.

  a(href="/blog/yangmingshan.html")
    div.blog-preview-box
      img.blog-preview-image(src="/resources/images/banners/erziping-banner.jpg")
      p.blog-preview-title Day hike near Taipei: Yangmingshan
      p.blog-preview-text A detailed walkthrough of the historic butterfly trail leading through the park and to tops of mountains
