<!-- Blog preview link boxes -->
div.blog-previews
  a(href="/blog/chapter1htmlcss.html")
    div.blog-preview-box
      img(class="blog-preview-image" src="/resources/images/banners/htmlcss-banner.jpg")
      p(class="blog-preview-title") A Real Beginner's Guide to HTML and CSS
      <p class="blog-preview-text">Skip the $17,000 bootcamp and join me on a self-taught journey :)</p>
    </div>
  </a>
  a(href="/blog/proteinpancakes.html")
    div(class="blog-preview-box")
      img(class="blog-preview-image" src="/resources/images/banners/pancakes-banner.jpg")
      p(class="blog-preview-title") Massive Super High-Protein Pancakes
      p(class="blog-preview-text") At 40g of protein a serving, I hope you'll be stuffing these in your mouth very soon!</p>
    </div>
  </a>
  a(href="/blog/pokemononabike.html")
    div(class="blog-preview-box")
      img(class="blog-preview-image" src="/resources/images/banners/pokemon-banner.jpg")
      p(class="blog-preview-title">A Bicycle Day Trip with Pokemon Go
      <p class="blog-preview-text">Here's how I planned an awesome bike day trip and a Pokemon adventure.</p>
    </div>
  </a>
  a(href="/blog/duckfriedrice.html")
    div(class="blog-preview-box")
      img(class="blog-preview-image" src="/resources/images/banners/friedrice-banner.jpg")
      p(class="blog-preview-title">Healthified: Duck Fried Rice!
      <p class="blog-preview-text">This duck fried rice is nutty, spicy, and soaked through with the flavor and aroma of Chinese duck.</p>
    </div>
  </a>
  a(href="/blog/cardiomynemesis.html")
    div(class="blog-preview-box")
      img(class="blog-preview-image" src="/resources/images/banners/mountaintrail-banner.jpg")
      p(class="blog-preview-title">I Can't Run a Mile
      <p class="blog-preview-text">Well, I couldn’t until yesterday. It took me 27 years to realize I’ve been running too fast.</p>
    </div>
  </a>
  a(href="/blog/mythoughtsonfood.html")
    div(class="blog-preview-box")
      img(class="blog-preview-image" src="/resources/images/banners/mewithcorn-banner.jpg")
      p(class="blog-preview-title">On Weight Loss: Building Healthy Habits
      <p class="blog-preview-text">My thoughts on food, and how I changed my relationship with it to improve my health.</p>
    </div>
  </a>
  a(href="https://medium.com/@MsPudding/feb-30-day-challenge-the-vegan-diet-and-how-it-s-changing-me-fd51ea3c988#.xf8xg38fb")
    div(class="blog-preview-box")
      img(class="blog-preview-image" src="/resources/images/banners/cheesecake-banner.jpg")
      p(class="blog-preview-title">Vegan 30-day Challenge
      <p class="blog-preview-text">I went vegan for a month. Here's what I learned.</p>
    </div>
  </a>
  a(href="/blog/top5taiwanfoods.html")
    div(class="blog-preview-box")
      img(class="blog-preview-image" src="/resources/images/banners/buns-banner.jpg")
      p(class="blog-preview-title">5 Spectacular Things to Eat in Taiwan
      <p class="blog-preview-text">Find your generic tourist checklist elsewhere. These are my top 5 daily eats!</p>
    </div>
  </a>
  a(href="/blog/taroko.html")
    div(class="blog-preview-box")
      img(class="blog-preview-image" src="/resources/images/banners/taroko-banner.jpg")
      p(class="blog-preview-title">A Day Trip to Taiwan's Taroko Gorge
      <p class="blog-preview-text">Maybe a bit of a tourist trap. Maybe.</p>
    </div>
  </a>
  a(href="/blog/yangmingshan.html")
    div(class="blog-preview-box")
      img(class="blog-preview-image" src="/resources/images/banners/erziping-banner.jpg")
      p(class="blog-preview-title">Day hike near Taipei: Yangmingshan
      <p class="blog-preview-text">A detailed walkthrough of the historic butterfly trail leading through the park and to tops of mountains</p>
    </div>
  </a>
</div>