script(src="/resources/js/sm-share-sidebar.js")
div.sm-share-sidebar
  a.share-slider-toggle Share me!
    i(class="fa fa-heart-o")
  ul.sm-share-buttons
    //- <!-- Facebook -->
    a.sm-share-selector(id="facebook-share-button" href="https://www.facebook.com/sharer/sharer.php?u=$PAGE_URL" target="_blank")
      li
        i(class=" fa fa-facebook-official fa-3x facebook-box")
    //- <!-- Twitter -->
    a.sm-share-selector(id="twitter-share-button" href="https://twitter.com/intent/tweet?url=$PAGE_URL&text=$PAGE_TITLE" target="_blank")
      li
        i(class=" fa fa-twitter-square fa-3x twitter-box")
    //- <!-- Google + -->
    a.sm-share-selector(id="google-share-button" href="https://plus.google.com/share?url=$PAGE_URL" target="_blank")
      li
        i(class=" fa fa-google-plus-square fa-3x google-box")
    //- <!-- Linkedin -->
    a.sm-share-selector(id="linkedin-share-button" href="https://www.linkedin.com/shareArticle?mini=true&url=$PAGE_URL&title=$PAGE_TITLE&summary=$PAGE_SUMMARY" target="_blank")
      li
        i(class=" fa fa-linkedin-square fa-3x linkedin-box")