extends ../layouts/blog-layout.pug
block metadata
  title A Real Beginner's Guide to Learning HTML and CSS
  meta(property="og:url"                content="http://mspudding.com/blog/chapter1htmlcss.html")
  meta(property="og:type"               content="article")
  meta(property="og:title"              content="A Real Beginner's Guide to Learning HTML and CSS")
  meta(property="og:description"        content="I felt like a child reading the dictionary long before I had the vocabulary to understand the words in the definitions.")
  meta(property="fb:app_id"             content="1739146419678054")
  
  meta(property="og:image"              content="http://mspudding.com/resources/images/banners/htmlcss-banner.jpg")
  meta(property="og:image:height"       content="875")
  meta(property="og:image:width"        content="1800")

block sidebar
  div.sm-sidebarLoad
  script.
    $(document).ready(function() {
      $(".sm-sidebarLoad").load("/_sm-share-sidebar.html", function(){;
        mp_sm_sidebar_init(
          // Swap in blog link, Default title, and summary here
          "http://mspudding.com/blog/chapter1htmlcss.html",
          "A Real Beginner's Guide to Learning HTML and CSS",
          "Skip the $17,000 bootcamp and join me on a self-taught journey. :)"
        )
      });
    });

block content
  header.blog-body.header
    h2(style="font-size: 18px; margin-top: 0px; text-align: center") A <em>Real</em> Beginner's Guide to Learning HTML and CSS
    h1(style="margin-top: 10px") Chapter 1: Learning how to learn
    h2 July 28, 2016 - #HTML #CSS #Learning
  main.blog-body
    p.
      As a beginner making my way into the world HTML, CSS, and programming in general, I quickly realized that even the simplest of tutorials assumed an expanse of knowledge that I simply didn’t have yet. I felt like a child reading the dictionary long before I had the vocabulary to understand the words in the definitions. 
    p.
      Despite that, I persevered. But it was intimidating and very easy to feel lost in a sea of information that I couldn’t comprehend or use <em>(or even know if I was using it correctly!)</em>.
    p.
      <b>So as a beginner, while things are still fresh in my mind--I’m here to share the things I stumbled over in excruciating detail, as I finally crest the horizon of knowing enough to get by.</b> I hope some of these things will be of use to you too, because I wish I had this information from the start.  

    h1 Your first tutorial

    p I’m just gonna leave this here: 
      a(href="https://www.codecademy.com/") Codecademy
    img(src="/resources/images/HTMLCSS/codecademyhtml.png" alt="screenshot of Codecademy's html tutorial")
    blockquote There are many great first tutorials out there, but if you're starting from zero experience, the HTML & CSS one is free, and takes care of all the magic behind the scenes so you can focus on learning the building blocks.
    p <b>But before you start any tutorial</b>, let me make one super important point.
    p.centerQuote YOU DON’T NEED TO MEMORIZE EVERYTHING. Don’t even try.
    p.
      One of the scariest things about delving into this subject matter is the realization that there is no single classroom or tutorial that will take you from zero to pro. People dish out thousands to attend coding bootcamps to put the responsibility of seeking out knowledge on someone else. 
    p.
      If you become reliant on a teacher to hold your hand through this process, you’ll be developing bad habits that’ll slow you down as soon as you leave the classroom.
    p.
      The reality is that if you’re even halfway proficient, you’ll be searching for info and following tutorials/example code on a regular basis. <b>Learning will be a constant process, and this experience will be very different from how we were taught to study in school.</b> You won’t need flashcards and rote memorization, and you will need to use google a lot to refresh your memory.
    p.
      There’s a LOT of information needed to build a website, or an app, or really <em>any</em> of this stuff. Nobody memorizes it all--they use google for reference sheets and examples all the time. 
    h1 Here’s what you SHOULD focus on remembering:
    ol 
      li.
        <b>New Vocabulary</b> - There’s a lot of it. What’s syntax? Nesting? A repository? Especially in the context of what you’re learning here, write new words down and remember them. <u>This is the language you’ll need for asking questions when you get stuck.</u>
      li.
        <b>Syntax</b> - Every language has its’ own form of grammar. Pay close attention to how things are spaced out, where symbols are used, and in what order. One tiny missed quotation mark or an extra comma might break your entire page, so it’s really important to get familiar with where things go.
    p.
      <b>Realistically, you may not legitimately retain a whole lot of information after doing these tutorial exercises and that’s okay.</b> If you focused on syntax and new vocab, you’re making steps in the right direction!
    p.
      Now if you’ve completed a tutorial, you might feel <em>mildly</em> equipped to work with HTML and CSS text within a browser window, but as soon as you close it--you’re lost on how to do anything on your own.
    p.
      Don’t worry too much about that just yet. <b>At this point, working with the lego blocks you’ve been given and fiddling around with trial and error will likely teach you more than any structured tutorial.</b>
    p.
      When I finished my first tutorial, I was told that I now knew how to make my first website. I replied… “No I don’t. I can’t even remember what should go into an HTML file to get started!”
    p.centerQuote “Uhh, well did you google it?”
    p That day I learned an important lesson.
    h1 So, here’s my challenge to you: 
    ol(style="padding-top: 0px")
      li(style="list-style-type: none") 
        h2(style="margin-top: 0px") 1. Make a Codepen account:
          a(href="http://codepen.io/") http://codepen.io/
        p This site will take care of the magic behind the scenes for you, and allow you to play around without having to link, load files, and deal with folders just yet
      li(style="list-style-type: none")
        h2(style="margin-top: 0px") 2. Try to recreate the layout of an existing site
        p Take some screenshots. Some simple, and some complicated. Then try your best to recreate whatever you can with html/css. Check the source code for hints!
      li(style="list-style-type: none")
        h2(style="margin-top: 0px") 3. Use google when you need help
        p “How to center text css”, “make two columns different sizes css”, “navigation bar css” and much more. Search for the things you need help with and see how far you can get!
    p.
      <b>This should tickle your brain and frustrate you at times.</b> My first day trying this, I stubbornly spent 45 minutes figuring out how to make three of the 4 corners of an image rounded while fitting some thin borders against the pointy end. 
    p I’ll be back soon to help you get set up to work with files locally on your computer :) <br>Many things in the works. Thanks for reading
      i(class="fa fa-heart-o" style="color: black")
    img.tiny-portrait(src="/resources/images/HTMLCSS/puddin.jpg" alt="selfie of mspudding at the san francisco marina")
    p -Puddin'