.hero-feature {
  font-family: medium-content-sans-serif-font, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
  color: white; 
  position: relative;
  box-sizing: border-box;

  div {
    position: absolute;
    top: 68px;
    width: 100%;
    text-align: center;
  }

  img {
    width: 100%;
  }


  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    margin-top: 32px;
  }

  a, a:visited {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 16px;
    display: block;
    margin: 32px auto;
    /* Button Border */
    background: rgba(255,255,255,0.20);
    border: 2px solid rgba(255,255,255,0.55);
    border-radius: 4px;
    width: 160px;
  }
  a:hover {
    background: rgba(255,255,255,0.6);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
    color: #00ACC1;
  }

  @media (min-width: 800px) {
    a, a:visited {
      font-size: 24px;
      line-height: 32px;
      width: 240px;
    }
  }

  @media (min-width: 1000px) {
    div {
      top: 120px;
    }

    h1 {
      font-size: 56px;
    }

    a, a:visited {
      margin: 64px auto 32px auto;
    }
  }

  @media (min-width: 1400px) {
    a, a:visited {
      margin: 160px auto 32px auto;
    }
  }
}