.navbar {
  background: rgba(255,255,255,0.90);
  font-family: SourceSansPro-Regular, "Source Sans Pro", sans-serif;
  height: 80px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  button {
    display: none;
    padding: 0 7px;
    margin: 6px 5px;
    background-color: #2d2d30;
    border-radius: 4px;
    
    &:focus {
      outline: none;
      background-color: #ddd;
    }

    &:hover {
      background-color: #ddd;
    }

    i {
      color: #00ACC1;
    }
  }

  ul {
    padding: 0 15px;
    margin: 0;
  }

  li {
    display: inline-block;
    float: right;
    list-style-type: none;
  }

  li a, h1 a {
    color: #00ACC1;
    font-size: 22px;
    line-height: 80px;
    text-decoration: none;
    padding: 0 15px;
  }

  li a:hover, h1 a:hover {
    color: #fff;
  }

  h1 a {
    font-size: 28px;
    float: left;
    z-index: -1;
    padding: 0 32px;
  }

  a:visited {
    color: #00ACC1;
  }

  @media (max-width: 700px) {
    #navbar-dropdown-menu {
      height: 100px;
      transition: height 200ms linear;
      background-color: #2d2d30;
    }

    button {
      display: block;
      float: right;
      border-color: transparent;
    }

    ul {
      display: block;
      height: 0;
      background-color: #2d2d30;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      padding: 0;
      border-top: 1px solid #ddd;
    }

    li {
      display: block;
      height: 50px;
      float: none;
    }

    li a {
      height: 35px;
      left: 0;
      right: 0;
      position: absolute;
      padding: 15px 0 0 15px;
    }

    .hide {
      height: 0px !important;
      overflow: hidden;
    }
  }
}
