.navbar {
  background: rgba(255,255,255,0.8);
  font-family: SourceSansPro-Regular, "Source Sans Pro", sans-serif;
  height: 64px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  @media (max-width: 1000px) {
    height: 56px;
  }

  @media (max-width: 700px) {
    height: 48px;

    #navbar-dropdown-menu {
      height: 144px;
      transition: height 0.2s linear;
      background-color: rgba(255,255,255,0.90);
    }

    .hide {
      height: 0px !important;
      overflow: hidden;
    }
  }


  button {
    display: none;
    padding: 0 8px;
    margin: 20px 24px;
    background-color: rgba(255,255,255,0);
    border-radius: 4px;
    transition: background-color 0.25s;

    @media (max-width: 700px) {
      display: block;
      float: right;
      border-color: transparent;
      margin: 5px;
    }
    
    &:focus {
      outline: none;
      background-color: #CFD8DC;
    }

    &:hover {
      background-color: #CFD8DC;
    }

    i {
      color: #00ACC1;
      transition: color 0.25s;

      &:hover {
        color: #00E5FF;
      }
    }
  }


  ul {
    padding: 0 15px;
    margin: 0;

    @media (max-width: 700px) {
      display: block;
      height: 0;
      background-color: rgba(255,255,255,0.90);
      position: absolute;
      top: 48px;
      left: 0;
      right: 0;
      padding: 0;
      border-top: 1px solid #ddd;
    }
  }


  li {
    display: inline-block;
    float: right;
    list-style-type: none;

    @media (max-width: 700px) {
      display: block;
      height: 48px;
      float: none;
    }
  }


  li a, 
  h1 a {
    color: #00ACC1;
    font-size: 16px;
    line-height: 64px;
    text-decoration: none;
    padding: 0 15px;
    transition: color 0.25s;

    @media (max-width: 1000px) {
      line-height: 56px;
    }
  }


  li a {
    @media (max-width: 700px) {
      height: 35px;
      left: 0;
      right: 0;
      position: absolute;
      padding: 0 0 0 32px;
      line-height: 40px;
    }

    &:hover {
      color: #00E5FF;
    }
  }


  h1 a {
    font-size: 20px;
    float: left;
    z-index: -1;
    padding: 0 32px;

    &:hover {
      color: #00E5FF;
    }

    @media (max-width: 700px) {
      line-height: 48px;
      padding: 0 16px;
    }
  }


  a:visited {
    color: #00ACC1;
  }
}

