.navbar {
  background-color: #2d2d30;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 50px;
  letter-spacing: 2px;
  line-height: 20px;
  opacity: 0.9;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  .navbar button {
    display: none;
    padding: 3px 7px;
    margin: 6px 5px;
    background-color: #2d2d30;
    border-radius: 4px; }
  .navbar button:focus {
    outline: none;
    background-color: #ddd; }
  .navbar button:hover {
    background-color: #ddd; }
  .navbar button i {
    color: #888; }
  .navbar ul {
    padding: 15px;
    margin: 0; }
  .navbar li {
    display: inline-block;
    float: right;
    list-style-type: none; }
  .navbar li a, .navbar div a {
    color: #d5d5d5;
    font-size: 14px;
    text-decoration: none;
    padding: 15px; }
  .navbar li a:hover, .navbar div a:hover {
    color: #fff; }
  .navbar .navbar-brand {
    font-size: 18px;
    float: left;
    z-index: -1; }
  .navbar a:-webkit-any-link {
    color: #d5d5d5; }
  @media (max-width: 700px) {
    .navbar #navbar-dropdown-menu {
      height: 100px;
      transition: height 200ms linear;
      background-color: #2d2d30; }
    .navbar button {
      display: block;
      float: right;
      border-color: transparent; }
    .navbar ul {
      display: block;
      height: 0;
      background-color: #2d2d30;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      padding: 0;
      border-top: 1px solid #ddd; }
    .navbar li {
      display: block;
      height: 50px;
      float: none; }
    .navbar li a {
      height: 35px;
      left: 0;
      right: 0;
      position: absolute;
      padding: 15px 0 0 15px; }
    .navbar .hide {
      height: 0px !important;
      overflow: hidden; } }
