.sm-share-sidebar * {
	box-sizing: border-box;
}

.share-slider-toggle:hover {
	text-decoration: none;
}

.fa {
	color: white;
	padding: 3px 6px 3px 6px;
}

.sm-share-buttons {
	opacity: 0.5;
	list-style-type: none;
	position: fixed;
	right: -100px;
	bottom: 0px;
}

.share-slider-toggle {
	position: fixed;
	bottom: 0px;
	color: white;
	font-family: medium-content-sans-serif-font, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
	padding: 4px 4px 4px 7px;
	border-radius: 4px;
	background-color: #ff6600;
	right: 0px;
	opacity: 0.8;
	height: 50px;
	line-height: 42px;
}

.share-slider-toggle:hover>.fa {
	color: #23527c;
}

.facebook-box {
	background-color: #3B5998;
}
.facebook-box:hover {
	opacity: 0.8;
}
.twitter-box {
	background-color: #55ACEE;
}
.twitter-box:hover {
	opacity: 0.8;
}
.google-box {
	background-color: #DC4E41;
}
.google-box:hover {
	opacity: 0.8;
}
.linkedin-box {
	background-color: #0077B5;
}
.linkedin-box:hover {
	opacity: 0.8;
}

@media (min-width: 700px) {
	.sm-share-buttons {
		opacity: 1;
		right: 0px;
		bottom: 40%;
	}
	.share-slider-toggle {
		right: -100px;
	}
}